.form {
    padding: 50px;
}
.alerta-form {
    font-size: 10px;
    color: #848484;
}

.form button {
    border: none;
    width: 400px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

.campo {
    border: none;
    width: 400px;
    background-color: #d9d9d94d;
    height: 40px;
    font-size: 15px;
    cursor: text;
    border-radius: 10px;
    margin: 10px 0px 50px 0px;
}

.texto-campo {
    font-size: 20px;
    color:  #39B983;
    margin-left: 10px;
}

/*fale conosco*/
.fale-conosco {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
}

.img-fale-conosco {
    background-image: url(../img/fale-conosco.png);
    background-size: cover;
    height: 600px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}
.img-fale-conosco h2 {
    width: 40%;
    font-size: 30px;
}

/*login*/

/*cadastro*/