.form {
    padding: 50px;
}
.alerta-form {
    font-size: 15px;
    color: #848484;
    text-align: center;
}

.alerta-form a {
    text-decoration: none;

}

.form button {
    border: none;
    width: 400px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

.campo {
    border: none;
    width: 400px;
    background-color: #d9d9d94d;
    height: 40px;
    font-size: 15px;
    cursor: text;
    border-radius: 10px;
    margin: 10px 0px 40px 0px;
    padding: 5px;
}

.texto-campo {
    font-size: 20px;
    margin-left: 10px;
}

/*fale conosco*/
.fale-conosco {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
}

.img-fale-conosco {
    background-image: url(../img/fale-conosco.jfif);
    background-size: cover;
    height: 600px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
}
.img-fale-conosco h2 {
    width: 60%;
    font-size: 40px;
    margin: 30px;
    font-weight: 500;
}

/*login*/

#login {
    display: flex;
    justify-content: space-between;
}

.img-login {
    background-image: url(../img/login.jfif);
    background-size: cover;
    height: 550px;
    width: 60%;
}

#login .form {
    margin-right: 70px;
}

/*cadastro*/
.cadastro .form {
    margin-left: 70px;
}
.cadastro {
    display: flex;
    justify-content: space-between;

}

.img-cadastro {
    background-image: url(../img/cadastro.jfif);
    height: 1200px;
    width: 60%;
}

/*Questionário*/

