
/*banner index*/
#fundo-banner {
    background-image: url(../img/fundo-banner.png);
    background-size: cover;
    width: 100%;
    height: 666px;
}

#banner-inicial .container {
    justify-content: flex-end;
    align-items: flex-end;
    height: 480px;
}

.texto-banner {
    color: white;
    text-align: right;
    font-size: 23px;
}
/*index*/

#sobre-projeto {
    text-align: center;
}

.cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 500px
}

.cards .card-principios {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-principios span a {
    text-decoration: none;
}

.link-seta {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.link-seta a img {
    width: 50px;
    transition: 0.5s;
}

.link-seta a img:hover {
    width: 60px;
}


.fundo-questionario {
    background-image: url(../img/funco-questionario.png);
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
}

.mais-sobre {
    height: 500px;
    background-color: #39B983;
    margin-top: -22px;
    color: white;
    padding: 30px 15%;
}

.card-mais-sobre {
    background-color: white;
    width: 95%;
    height: 70px;
    margin-bottom: 30px;
    color: #39B983;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0px 30px ;
    box-shadow: 1px 15px 33px 11px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
}

.card-mais-sobre:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.link-mais-sobre {
    color: #39B983;
    text-decoration: none;
}


/*artistas*/
.card-artistas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-bottom: 30px;
}

.bloco-texto {
    width: 50%;
    
}
.bloco-texto p{
    text-align: justify;
    text-indent: 20px;
}


.linha {
    width: 30%;
    height: 8px;
    margin-bottom: 20px;
}

.bloco-texto span, p, h1{
    margin-left: 60px;
}
.img-artistas {
    width: 200px;
    margin-right: 30px;
    transition: 0.5s;
    height: 200px;
}

.img-artistas:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

#banner-questionario-artista {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-questionario-artista {
    width: 70%;
    height: 331px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 15px 33px 11px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.card-questionario-artista:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    
}

.bloco-img-quest img {
    width: 150px;
    height: 150px;
}
.bloco-img-quest {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.card-questionario-artista .bloco-texto a {
    padding: 10px 180px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 18px;
    margin-top: 20px;
}
/*sobre nós*/

#sobre-nos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.img-sobre-nos {
    margin-left: 100px;

}

#principios {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card-principios {
    width: 25%;
    height: 200px;
    text-align: center;
    box-shadow: 1px 15px 33px 11px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 20px;
    margin: 50px 0px;
    transition: 0.5s;
}
.card-principios:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.destaque {
    color: #5d91d4e3;
    text-decoration: none;
    padding: 2px;
}

/*saiba mais*/
.titulo-saiba-mais {
    /* background-color:  #8EC7DF; */
    background-image: url(../img/fundo-saiba-mais.png);
    background-size: cover;
    height: 170px;
    width: 100%;
    color: white;
}

.fundo-branco {
    background-color: #ffffff6c;
}

.titulo-saiba-mais .header .container ul li a {
   font-weight: 400;
}


.titulo-h1 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.titulo-h1 h1 {
    margin-right: 10%;
}

.saiba1 {
    margin: 50px 0px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.saiba2 {
    margin-top: 50px;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.saiba3 {
    margin-top: 50px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.saiba2 img {
    width: 900px;
    align-self: center;
}
.saiba2 span {
    align-self: center;

}

.saiba2 .bloco-texto {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}


.saiba1 img {
    height: 500px;
}

.saiba1 .linha, .saiba2 .linha {
    width: 500px;
}

.img-saiba1 {
    display: flex;
    flex-direction: column;
}

.img-saiba3 img {
    width: 700px;
}
